html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background: #00ffff;
		margin: 0;
}

header {
	background: #333;
	padding: 2px 15px 0 15px;
	color: blue;
}

header h1 {
	margin: 0;
	float: right;
	display: inline;
}

.buttons {
	margin: 0;
}

.title {
	float: left;
}

.button {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button2 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button3 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button4 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button5 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button6 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button7 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button8 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button9 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button10 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button11 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button12 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button13 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button14 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button15 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button16 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button17 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button18 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button19 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button20 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button21 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button22 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button23 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button24 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button25 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button26 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button27 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button28 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button29 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button30 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button31 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button32 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button33 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button34 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button35 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button36 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}






footer {
	clear: both;
	height: 20px;
	width: 100%;
	position: absolute;
	left: 0px;
	bottom: 0px;
}