body {
	background: #00ffff;
}

.button {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button2 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button3 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button4 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button5 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button6 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button7 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button8 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button9 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button10 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button11 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button12 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button13 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button14 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button15 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button16 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}

.button17 {
	background: #00ffff;
	border-color: black;
	padding: 20px;
	margin: 5px;
}